html {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    padding: 2px 1em;
    margin: 0;
}

#timeDiv {
    font-size: 10em;
    text-align: center;
    font-family: Arial;
    margin-top:1em;
}

#btnDiv {
    display: flex;
    justify-content: center;
}

.bigBtn {
    font-size: 4em !important;
    margin: 8px;
}
